.table {
  border: 1px solid #5d5e64;
  font-size: 12px;
  border-collapse: collapse;
  letter-spacing: 1px;

  &_head {
    background-color: #3a3b41;
  }

  &_cell {
    border: 1px solid rgb(160 160 160);
    cursor: pointer;
    padding: 6px 8px;
  }

  &_active {
    background-color: rgb(54, 72, 110);
  }
}
