.table {
  border: 1px solid #5d5e64;
  font-size: 12px;
  border-collapse: collapse;
  letter-spacing: 1px;

  &_head {
    background-color: #3a3b41;
  }

  &_cell {
    border: 1px solid rgb(160 160 160);
    text-align: center;
    cursor: pointer;
    padding: 6px 8px;
    user-select: none;
    min-width: 60px;
    max-width: 180px;
  }
}
.highlighted {
  background-color: rgb(54, 72, 110);
}

.currentHiglighted {
  position: relative;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
    background-color: rgb(160, 189, 32);
  }

  &:hover::after {
    content: "Click to increase";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 4px 4px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    animation: fadeOut 1.5s forwards;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
