.table {
  border: 1px solid #5d5e64;
  font-size: 12px;
  border-collapse: collapse;
  letter-spacing: 1px;
  table-layout: fixed;

  &__header {
    background-color: #3a3b41;
  }

  &__row {
    &:last-child {
      @extend .table__cell--percentile;
    }
    &--sum:hover {
      font-size: 14px;
      color: red;
    }
  }

  &__cell {
    border: 1px solid #a0a0a0;
    text-align: center;
    cursor: pointer;
    padding: 6px 8px;
    user-select: none;
    min-width: 60px;
    max-width: 180px;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

    &--highlighted {
      background-color: #36486e;
    }

    &--percentile {
      font-weight: 600;
      font-size: 14px;
      background-color: #83705b;
      color: #3a3b41;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      border-top: 2px solid #a0a0a0;
    }

    &:last-child {
      @extend .table__cell--percentile;
    }

    &--interactive {
      position: relative;

      &:hover {
        transform: scale(1.05);
        background-color: #a0bd20;
      }

      &:hover::after {
        content: "Click to increase";
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        padding: 5px 8px;
        border-radius: 5px;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        animation: fadeOut 1.5s forwards;
      }
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
